<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button"
    ><span class="navigation__icon">&nbsp</span></label
  >

  <div class="navigation__background">&nbsp</div>

  <nav class="navigation-bar">
    <ul class="navigation-bar__list">
      <li><a class="itemHome" href="/">Inicio</a></li>
      <li><a class="itemAbout" href="/aboutUs">Quiénes somos</a></li>
      <li><a class="itemServices" href="/services">Servicios</a></li>
      <li><a class="itemAlliances" href="/#alianzas">Alianzas</a></li>
      <li>
        <a
          class="itemContact"
          href="https://wa.me/3103896989?text=ColFrame,%20¿Cómo%20podemos%20ayudarte?"
          >Contáctanos</a
        >
      </li>
    </ul>
  </nav>
</div>

<div class="icon-whatsapp">
  <a
    href="https://wa.me/3103896989?text=ColFrame,%20¿Cómo%20podemos%20ayudarte?"
    ><i class="fab fa-whatsapp-square"></i
  ></a>
</div>
