<!DOCTYPE html>
<%-include("partials/head")%>
<html lang="en">
  <body>
    <header>
      <div class="homeHeader"><%-include("partials/nav_bar")%></div>
    </header>

    <main class="section-main">
      <section class="aboutUs-main">
        <div class="content">
          <div class="image-content">
            <img src="./images/categories/team-photo.jpg" alt="team-photo" />
            <div class="image-background"></div>
          </div>

          <div class="text-content">
            <h2>¿Quiénes somos?</h2>
            <p>
              Somos una compañía que ofrece soluciones confiables y eficaces
              para el sector de la construcción. Todo esto mediante métodos
              innovadores, tiempos de producción y ejecución reducidos y
              amigables con el medio ambiente.<br /><br />Brindamos a nuestros
              clientes soluciones de Steel Framing para sus proyectos, además de
              asesoría y referencias para que sus ideas se hagan realidad.<br /><br />¡Contáctanos
              sin ningún compromiso!
            </p>
            <a
              href="https://wa.me/573103896989?text=ColFrame,%20¿Cómo%20podemos%20ayudarte?"
              >Contáctanos</a
            >
          </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
