<!DOCTYPE html>
<%-include("partials/head")%>
<html lang="en">
  <body>
    <header>
      <div class="homeHeader"><%-include("partials/nav_bar")%></div>
    </header>

    <main class="section-main">
      <section class="home-banner">
        <h1><span>Steel Framing</span>, para contrucción en seco</h1>
        <a href="/aboutUs">Acerca de nosotros</a>
      </section>

      <section class="aboutUs-section">
        <h2>¿Por qué ColFrame?</h2>
        <p>
          Somos una compañía que ofrece soluciones confiables y eficaces para el
          sector de la construcción mediante el suministro de estructuras en
          Steel Framing, soporte técnico y de ingeniería.
        </p>
        <h2><i>#construimosConfianza</i></h2>
        <br />
        <a
          href="https://wa.me/573103896989?text=ColFrame,%20¿Cómo%20podemos%20ayudarte?"
          >Contáctanos</a
        >
      </section>

      <!-- <section id="prueba">
        <img src="./images/colFrame-logo.jpg" alt="prueba" />
      </section> -->

      <section class="services-section">
        <h2>Servicios</h2>
        <div class="services">
          <div class="image-container">
            <img src="./images/categories/check-image.jpg" alt="check-image" />
            <div class="text-container"></div>
            <p class="text">Revisamos tu proyecto sin compromiso.</p>
          </div>
          <div class="image-container">
            <img src="./images/categories/cash-image.jpg" alt="cash-image" />
            <div class="text-container"></div>
            <p class="text">
              Brindamos una cotización de manera rápida y eficiente.
            </p>
          </div>
          <div class="image-container">
            <img
              src="./images/categories/partnership-image.jpg"
              alt="partnership-image"
            />
            <div class="text-container"></div>
            <p class="text">Recomendamos aliados para finalizar tu proyecto.</p>
          </div>
        </div>

        <a href="/services">Ver más</a>
      </section>

      <!-- <section class="alliances-section" id="alianzas">
        <h2>Alianzas</h2>
        <p>Colmena y Dicoing</p>
      </section> -->

      <!-- <section class="carrousel">
        <h2 class="carrousel-title">Algunos proyectos finalizados</h2>
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% for(let x=0;x<2;x++){%>
              <li class="glide__slide">
                <div
                  class="carrouselItem"
                  style="
                    background: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 0)
                      ),
                      url('../images/banners/banner<%=x+1%>.jpeg') no-repeat
                        center center;
                  "
                ></div>
              </li>
              <%}%>
            </ul>
          </div>

          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
            <button class="glide__bullet" data-glide-dir="=4"></button>
          </div>
        </div>
      </section>
    </main> -->

      <section class="projects-section">
        <h2>Algunos proyectos</h2>
        <div class="projects">
          <div class="image-container">
            <img src="./images/banners/banner1.jpeg" alt="banner1Proyectos" />
            <div class="text-container"></div>
          </div>
          <div class="image-container">
            <img src="./images/banners/banner2.jpg" alt="banner2Proyectos" />
            <div class="text-container"></div>
          </div>
          <div class="image-container">
            <img src="./images/banners/banner3.jpeg" alt="banner3Proyectos" />
            <div class="text-container"></div>
          </div>
          <div class="image-container">
            <img src="./images/banners/banner4.jpeg" alt="banner4Proyectos" />
            <div class="text-container"></div>
          </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer")%>

    <!-- script carrousel -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      const config = {
        type: "carousel",
        perView: 1,
        startAt: 0,
        focusar: true,
        keyboard: true,
        hoverpause: true,
        gap: 0,
      };
      new Glide(".glide", config).mount();
    </script>
    <script src="./js/events.js"></script>
  </body>
</html>
