<!DOCTYPE html>
<%-include("partials/head")%>
<html lang="en">
  <body>
    <header>
      <div class="homeHeader"><%-include("partials/nav_bar")%></div>
    </header>

    <main class="section-main">
      <section class="services-main">
        <div class="content">
          <div class="image-content">
            <img
              src="./images/categories/services-image.jpg"
              alt="services-image"
            />
            <div class="image-background"></div>
          </div>

          <div class="text-content">
            <h2>Servicios</h2>
            <div class="service">
              <p>
                Modelación de proyectos basados en Steel Framing sin compromiso.
              </p>
            </div>
            <div class="service">
              <p>Preingeniería estructural para acero pesado y Steel Frame.</p>
            </div>
            <div class="service">
              <p>
                Opcionalmente, se entregan memorias de cálculo y planos para
                construcción.
              </p>
            </div>
            <div class="service">
              <p>
                Excelente tiempo de respuesta para la entrega de propuestas .
              </p>
            </div>
            <div class="service">
              <p>
                Te acompañamos y recomendamos con aliados para las demás etapas
                de la construcción, que ayudarán a volver tu proyecto una
                realidad.
              </p>
            </div>

            <!-- <a
              href="https://wa.me/573103896989?text=ColFrame,%20¿Cómo%20podemos%20ayudarte?"
              >Contáctanos</a
            > -->
          </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
